In [1]:
from tensorflow.keras.applications.mobilenet import MobileNet
from tensorflow.keras.applications.mobilenet import preprocess_input
from tensorflow.keras.preprocessing import image
from tensorflow.keras.preprocessing.image import img_to_array
from sklearn.cluster import KMeans
import pandas as pd
import numpy as np
from tqdm import tqdm
import os
import shutil

In [2]:
# Function to Extract features from the images
def image_feature(direc):
    model = MobileNet(weights='imagenet', include_top=False)
    features = [];
    img_name = [];
    for i in tqdm(direc):
        fname='images'+'/'+i
        img=image.load_img(fname,target_size=(512,512))
        x = img_to_array(img)
        x=np.expand_dims(x,axis=0)
        x=preprocess_input(x)
        feat=model.predict(x)
        feat=feat.flatten()
        features.append(feat)
        img_name.append(i)
    return features,img_name

In [3]:
img_path=os.listdir('images')

In [4]:
img_features,img_name=image_feature(img_path)

2022-04-21 21:40:25.323206: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-04-21 21:40:25.325111: I tensorflow/core/common_runtime/process_util.cc:146] Creating new thread pool with default inter op setting: 2. Tune using inter_op_parallelism_threads for best performance.
  0%|          | 0/700 [00:00<?, ?it/s]2022-04-21 21:40:27.053894: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:185] None of the MLIR Optimization Passes are enabled (registered 2)
100%|██████████| 700/700 [04:47<00:00,  2.43it/s]

In [5]:
image_cluster = pd.DataFrame(img_name,columns=['image'])

In [6]:
image_cluster

       image
0    582.jpg
1    340.jpg
2    570.jpg
3    136.jpg
4    642.jpg
..       ...
695  591.jpg
696   54.jpg
697  262.jpg
698  181.jpg
699  520.jpg

[700 rows x 1 columns]

In [7]:
#Creating Clusters
k = 5
clusters = KMeans(k, random_state = 40)
clusters.fit(img_features)

KMeans(n_clusters=5, random_state=40)

In [8]:
image_cluster["clusterid"] = clusters.labels_ # To mention which image belong to which cluster

In [9]:
image_cluster # 0 denotes cat and 1 denotes dog

       image  clusterid
0    582.jpg          4
1    340.jpg          2
2    570.jpg          4
3    136.jpg          0
4    642.jpg          4
..       ...        ...
695  591.jpg          2
696   54.jpg          1
697  262.jpg          0
698  181.jpg          4
699  520.jpg          4

[700 rows x 2 columns]

In [10]:
os.mkdir("first")
os.mkdir("second")
os.mkdir("third")
os.mkdir("fourth")
os.mkdir("fifth")

In [11]:
# Images will be seperated according to cluster they belong
for i in range(len(image_cluster)):
    if image_cluster['clusterid'][i]==0:
        shutil.move(os.path.join('images', image_cluster['image'][i]), 'first')
    elif image_cluster['clusterid'][i]==1:
        shutil.move(os.path.join('images', image_cluster['image'][i]), 'second')
    elif image_cluster['clusterid'][i]==2:
        shutil.move(os.path.join('images', image_cluster['image'][i]), 'third')
    elif image_cluster['clusterid'][i]==3:
        shutil.move(os.path.join('images', image_cluster['image'][i]), 'fourth')
    elif image_cluster['clusterid'][i]==4:
        shutil.move(os.path.join('images', image_cluster['image'][i]), 'fifth')