In [13]:
from tensorflow.keras.preprocessing.image import img_to_array
from tensorflow.keras.applications.vgg16 import VGG16
from tensorflow.keras.preprocessing import image
from tensorflow.keras.applications.vgg16 import preprocess_input
from sklearn.cluster import KMeans
import pandas as pd
import numpy as np
from tqdm import tqdm
import os
import shutil

In [14]:
# Function to Extract features from the images
def image_feature(direc):
    model = VGG16(weights='imagenet', include_top=False)
    features = [];
    img_name = [];
    for i in tqdm(direc):
        fname='images'+'/'+i
        img=image.load_img(fname,target_size=(512,512))
        x = img_to_array(img)
        x=np.expand_dims(x,axis=0)
        x=preprocess_input(x)
        feat=model.predict(x)
        feat=feat.flatten()
        features.append(feat)
        img_name.append(i)
    return features,img_name

In [15]:
img_path=os.listdir('images')

In [16]:
img_features,img_name=image_feature(img_path)

100%|██████████| 700/700 [05:51<00:00,  1.99it/s]

In [17]:
image_cluster = pd.DataFrame(img_name,columns=['image'])

In [18]:
image_cluster

       image
0    582.jpg
1    340.jpg
2    570.jpg
3    136.jpg
4    642.jpg
..       ...
695  591.jpg
696   54.jpg
697  262.jpg
698  181.jpg
699  520.jpg

[700 rows x 1 columns]

In [19]:
#Creating Clusters
k = 5
clusters = KMeans(k, random_state = 40)
clusters.fit(img_features)

KMeans(n_clusters=5, random_state=40)

In [20]:
image_cluster["clusterid"] = clusters.labels_ # To mention which image belong to which cluster

In [21]:
image_cluster # 0 denotes cat and 1 denotes dog

       image  clusterid
0    582.jpg          4
1    340.jpg          1
2    570.jpg          0
3    136.jpg          3
4    642.jpg          0
..       ...        ...
695  591.jpg          1
696   54.jpg          3
697  262.jpg          2
698  181.jpg          0
699  520.jpg          4

[700 rows x 2 columns]

In [22]:
os.mkdir("first")
os.mkdir("second")
os.mkdir("third")
os.mkdir("fourth")
os.mkdir("fifth")

In [23]:
# Images will be seperated according to cluster they belong
for i in range(len(image_cluster)):
    if image_cluster['clusterid'][i]==0:
        shutil.move(os.path.join('images', image_cluster['image'][i]), 'first')
    elif image_cluster['clusterid'][i]==1:
        shutil.move(os.path.join('images', image_cluster['image'][i]), 'second')
    elif image_cluster['clusterid'][i]==2:
        shutil.move(os.path.join('images', image_cluster['image'][i]), 'third')
    elif image_cluster['clusterid'][i]==3:
        shutil.move(os.path.join('images', image_cluster['image'][i]), 'fourth')
    elif image_cluster['clusterid'][i]==4:
        shutil.move(os.path.join('images', image_cluster['image'][i]), 'fifth')

In [24]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.metrics import calinski_harabasz_score

print(f'Silhoutter Score: {silhouette_score(img_features, clusters.labels_)}')
print(f'Calinski Harabaz Score: {calinski_harabasz_score(img_features, clusters.labels_)}')

Silhoutter Score: -0.016077179461717606
Calinski Harabaz Score: 11.388337858939199